{% extends 'base.html' %}
{% load static %}
{% block content %}
<style type="text/css">
  input {
    width:100%;
  }
  .navbar {
    display: none;
  }
</style>
<div class="row">
  <!--<center><div class="col-md-4"><img src="http://jecrcrenaissance.in/img/renaisss.png" style=""></div></center>-->
</div>
 <div style="margin-top:10%;" class="row">
  <div class="col-md-4">
    <center><img src="{% static 'img/smedia.png' %}"></center>
  </div>
      <div class="col-md-4" style="background-color:white; padding:5%; padding-top:1%;">
        <center><a href="/"><img src="http://jecrcrenaissance.in/img/renaisss.png" style="width:50%;"></a></center>
          <h3 class="text-center">LOGIN</h3>
          <br>
          <form style="width:100%;" method="POST" action="{% url 'login' %}">
            {% csrf_token %}
    {{ form.as_p }}

    <center>
      <p><a href="{% url 'register' %}">Register</a></p>
      <button type="submit" class="btn btn-primary">Login</button></center>
</form>
      </div>
      <div class="col-md-4">
    <center><img src="{% static 'img/teamss.png' %}"></center>
  </div>
  </div>
{% endblock %}