{% extends 'base.html' %}
{% block content %}
<style type="text/css">
  body {
    background-image: none;
  }
</style>
<br>
<div style="margin-top:2%;color: black;">
  <br>
  <h1 class="text-center display-4">Participating Students</h1>
<br>
<ul class="nav nav-pills" style="float: right;">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filter Results</a>
    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
      <a class="dropdown-item" href="{% url 'approve_students' 'A' %}">All Students</a>
      <a class="dropdown-item" href="{% url 'approve_students' 'Y' %}">Approved Students</a>
      <a class="dropdown-item" href="{% url 'approve_students' 'N' %}">Unapproved Studens</a>
    </div>
  </li>
</ul>
<table class="table table-hover">
        <tr>
          <th>S No.</th>
          <th>Registration Number</th>
          <th>Student Name</th>
          <th>Department</th>
          <th>College</th>
          <th>Email ID</th>
          <th>Contact Number</th>
          <th>Fee Paid</th>
          <th>Payment Status</th>
        </tr>
    {% for student in approved_students %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ student.id }}</td>
          <td>{{ student.user.user.first_name }}</td>
          <td>{{ student.user.branch }}</td>
          <td>{{ student.user.college }}</td>
          <td>{{ student.user.user.email }}</td>
          <td>{{ student.user.mobile_number }}</td>
          <td>{{ student.event.price }}</td>
          <td>{{ student.payment_status }}</td>
        </tr>
    {% endfor %}
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Total Earning</td>
      <td>{{ event_sum }}</td>
    </tr>
      </table>

{% endblock %}
<div class="card border-primary col-md-12" style="margin-bottom:2%;">
  <div class="card-header">{{ student.user.first_name }}</div>
  <div class="card-body">
    <h4 class="card-title">Payment Status :- {{ student.payment_status }}</h4>
    <p class="card-text">
  </div>
</div>
</div>