{% load static %}
<!DOCTYPE html>
<html>
<head>
  
	<title>Renaissance Portal</title>
	<link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap.min.css' %}">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body style="font-family: courier;background-color: #DEF2F1;">

<nav class="navbar navbar-expand-lg" style="background-color: #99CED3;">
  <a class="navbar-brand" href="/" style="font-family: felipa;font-weight: bold;font-size: 25px;">RenPortal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      {% if request.user.groups.all.0.name == 'coordinator' %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'event_details' %}">Event Details</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user_dashboard' %}">All Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'student_participated' %}">Participated Events</a>
      </li>
      {% endif %}
    </ul>
    {% if user.is_authenticated %}
    <div class="form-inline my-2 my-lg-0">
      <a href="/accounts/logout" class="btn btn-secondary my-2 my-sm-0">Logout</a>
    </div>
    {% else %}
    <div class="form-inline my-2 my-lg-0">
      <a href="/accounts/login" class="btn btn-secondary my-2 my-sm-0">Login</a>
    </div>
    {% endif %}
  </div>
</nav>

{%  block content %}{% endblock %}

<br><br>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small>Donec id elit non mi porta.</small>
  </a>
  
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script></body>
</html>
