{% extends 'base.html' %}
{% load static %}
{% block content %}
<style type="text/css">
	.front-img {
		background-repeat: no-repeat;
background-size: cover;
z-index: 0;
padding: none;
margin: none;
-webkit-perspective: 2000px;
min-height: 100%;
position: relative;
	}
	.navbar .nav-link {
		display: none;
	}
</style>
  <div style="min-height:600px;">
  	<div>
  <img src="http://jecrcrenaissance.in/img/jecrc.png" width="150px;">
  <img src="http://jecrcrenaissance.in/img/renaisss.png" style="position: absolute;left: 375px;" width="600px" height="350px;">
  <img src="{% static 'cir1.jpg' %}" style="position: absolute;top: 800px;">
</div>
  </div>
  <div class="card-body">
  </div><br><br>
  </div>
{% endblock %}
