{% extends 'base.html' %}
{% load static %}
{% block content %}

<style type="text/css">
  body {
    background-image: none !important;
  }
  .dotted {
      border-top: 1px dashed #8c8b8b;
  }
</style>

<div class="container">
  <br><br>
      <center><h1>Participation Receipt</h1></center>
      <br><br>
      {% if info.payment_status == 'N' %}
        <div class="alert alert-dismissible alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Warning!</h4>
  <p class="mb-0">Please take a print out of this receipt and submit to one of the coordinators and pay the fee to get approved.</p>
</div>
<div class="row">
    <div class="card col-md-12 border-primary">
  <h3 class="card-header">Student Copy<span style="float:right;">Receipt ID : {{ info.id }}</span></h3>
  <div class="card-body">
    <h5 class="card-title">Event Name :- {{ info.event.name }}</h5>
    <h5 class="card-title">Student Name :- {{ info.user.user.first_name }}</h5>
    <h5 class="card-title">Department :- {{ info.user.branch }}</h5>
    <h5 class="card-title">College :- {{ info.user.college }}</h5>
    <h5 class="card-title">Contact No. :- {{ info.user.mobile_number }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Amount To Be Paid :- {{ info.event.price }}</li>
  </ul>
  <div class="card-footer text-muted">
    {% if info.payment_status == 'N' %}
    Status :- Pending for Fee Payment
        {% else %}
        <p>Approved On :- {{info.approval_date}}</p>
        <p>Approved By :- {{ info.approvar.user.first_name }} </p>
      {% endif %}

  </div>
</div>
  </div>
  <br>
  <hr class="dotted">
  <br>
    <div class="row">
    <div class="card col-md-12 border-primary">
  <h3 class="card-header">Teacher Copy<span style="float:right;">Receipt ID : {{ info.id }}</span></h3>
  <div class="card-body">
    <h5 class="card-title">Event Name :- {{ info.event.name }}</h5>
    <h5 class="card-title">Student Name :- {{ info.user.user.first_name }}</h5>
    <h5 class="card-title">Department :- {{ info.user.branch }}</h5>
    <h5 class="card-title">College :- {{ info.user.college }}</h5>
    <h5 class="card-title">Contact No. :- {{ info.user.mobile_number }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Amount To Be Paid :- {{ info.event.price }}</li>
  </ul>
  <div class="card-footer text-muted">
    {% if info.payment_status == 'N' %}
    Status :- Pending for Fee Payment
        {% else %}
        <p>Approved On :- {{info.approval_date}}</p>
        <p>Approved By :- {{info.approvar.user.first_name}} </p>
      {% endif %}
  </div>
</div>
  </div>
  <br>
  <hr class="dotted">
  <br>    <div class="row">
    <div class="card col-md-12 border-primary">
  <h3 class="card-header">Management Copy<span style="float:right;">Receipt ID : {{ info.id }}</span></h3>
  <div class="card-body">
    <h5 class="card-title">Event Name :- {{ info.event.name }}</h5>
    <h5 class="card-title">Student Name :- {{ info.user.user.first_name }}</h5>
    <h5 class="card-title">Department :- {{ info.user.branch }}</h5>
    <h5 class="card-title">College :- {{ info.user.college }}</h5>
    <h5 class="card-title">Contact No. :- {{ info.user.mobile_number }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Amount To Be Paid :- {{ info.event.price }}</li>
  </ul>
  <div class="card-footer text-muted">
    {% if info.payment_status == 'N' %}
    Status :- Pending for Fee Payment
        {% else %}
        <p>Approved On :- {{info.approval_date}}</p>
        <p>Approved By :- {{ info.approvar.user.first_name }} </p>
      {% endif %}
  </div>
</div>
  </div>
{% else %}
<div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Well done!</strong> You successfully registered.
</div>
<div class="row">
    <div class="card col-md-12 border-primary">
  <h3 class="card-header">Receipt ID : {{ info.id }}</h3>
  <div class="card-body">
    <h5 class="card-title">Event Name :- {{ info.event.name }}</h5>
    <h5 class="card-title">Student Name :- {{ info.user.user.first_name }}</h5>
    <h5 class="card-title">Department :- {{ info.user.branch }}</h5>
    <h5 class="card-title">College :- {{ info.user.college }}</h5>
    <h5 class="card-title">Contact No. :- {{ info.user.mobile_number }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Amount Paid :- {{ info.event.price }}</li>
  </ul>
  <div class="card-footer text-muted">
        <p>Approved On :- {{ info.approval_date }}</p>
        <p>Approved By :- {{ info.approvar.user.first_name }}</p>
  </div>
</div>
  </div>
{% endif %}
  <br><br>
<center><input class="btn btn-primary" type="button" value="Print Receipt" onClick="window.print()"></center>
</div>

<br><br>

{% endblock %}