{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
  <h1 class="text-center display-4">Participated Events</h1>
  <br>
  <p class="lead">Events of list you have participated in.</p>
  <hr class="my-4">
</div>
<br>
<div class="container">
	<div class="row">
		{% for event_info in participated_events %}
    <br>
      <div class="card border-primary col-md-4" style="">
  <div class="card-header"><h4>{{ event_info.event.name }}</h4></div>
  <div class="card-body">
    {% if event_info.payment_status == 'N' %}
    <p class="card-text">Event Status :- Not Approved</p>
    <center><a href="{% url 'get_receipt' event_info.id %}" class="btn btn-warning">See Receipt</a></center>
    {% else %}
    <p class="card-text">Event Status :- Approved</p>
    <center><a href="{% url 'get_receipt' event_info.id %}" class="btn btn-success">Approved Receipt</a></center>
    {% endif %}
  </div>
</div>
    {% endfor %}
	</div>
</div>

{% endblock %}