{% extends 'base.html' %}

{% block content %}

<div style="margin-top: 2%;" class="container">
  <h1 style="color: white;" class="text-center display-4">Participated Events</h1>
  <br><br>
	<div class="row">
		{% for event_info in participated_events %}
    <br>
      <div class="card border-primary col-md-4" style="">
  <div class="card-header"><h4>{{ event_info.event.name }}</h4></div>
  <div class="card-body">
    {% if event_info.payment_status == 'N' %}
    <p class="card-text">Event Status :- Not Approved</p>
    <center><a href="{% url 'get_receipt' event_info.id %}" class="btn btn-warning">See Receipt</a></center>
    {% else %}
    <p class="card-text">Event Status :- Approved</p>
    <center><a href="{% url 'get_receipt' event_info.id %}" class="btn btn-success">Approved Receipt</a></center>
    {% endif %}
    <br>
    <div class="list-group">

  <a href="#" class="list-group-item list-group-item-action active">
    Event Notifications
  </a>
  {% for noti in notification %}
  {% if noti.event.name == event_info.event.name %}
  <a href="#" class="list-group-item list-group-item-action">{{ noti.message }}
  {% endif %}
  {% endfor %}
  </a>
</div>
  </div>
</div>
    {% endfor %}
	</div>
</div>

{% endblock %}