{% extends 'base.html' %}
{% block content %}
<style type="text/css">
.navbar .nav-link {
    display: none;
  }
.field-team {
  margin: 1%;
}
</style>

 <center><div class="container" style="width:90%;">
      <div class="col-md-12">
        <br>
          <h3 class="text-center" style="color: white;">Enter Team Details</h3>
          <br>
          <form method="POST" action="{% url 'register_team' event_id %}">
             {% csrf_token %}
           {% for a in event_team_size %}
          <h5 style="color:white;">Member {{forloop.counter}}</h5>
            <div class="row">
              <br>
    <div class="col-md-3 field-team">
      <label for="exampleInputEmail1">Name</label>
      <input type="text" name="name" class="form-control" placeholder="Enter Name">
    </div>
    <div class="col-md-4 field-team">
      <label for="exampleInputEmail1">Email</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
    </div>
    <div class="col-md-3 field-team">
      <label for="exampleInputEmail1">Mobile</label>
      <input type="text" name="number" class="form-control" placeholder="Mobile Number">
    </div>
    <div class="col-md-4 field-team">
      <label for="exampleInputEmail1">College</label>
      <input type="text" name="college" class="form-control" placeholder="College Name">
    </div>
    <div class="col-md-3 field-team">
      <label for="exampleInputEmail1">Roll No.</label>
      <input type="text" name="roll_no" class="form-control" placeholder="College Name">
    </div>
        <div class="col-md-3 field-team">
      <label for="exampleSelect1">Year</label>
      <select class="form-control" id="exampleSelect1" name="year">
        <option value="1">1st Year</option>
        <option value="2">2nd Year</option>
        <option value="3">3rd Year</option>
        <option value="4">4th Year</option>
      </select>
    </div>
        <div class="col-md-3 field-team">
      <label for="exampleSelect1">Branch</label>
      <select class="form-control" id="exampleSelect1" name="branch">
        <option value="Civil">Civil</option>
        <option value="Mechanical">Mechanical</option>
        <option value="ECE">ECE</option>
        <option value="CS">CS</option>
        <option value="IT">IT</option>
        <option value="EE">EE</option>
        <option value="Others">Others</option>
      </select>
    </div>
    <br>
    <br><br>
  </div>
  <br>
           {% endfor %}
      <center><button type="submit" class="btn btn-primary">Register</button></center>

</form>
      </div>
  </div>
</center>
{% endblock %}